@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");

/* from assets */
@font-face {
  font-family: "font1";
  src: url("../fonts/RedHatMono-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge /
  scrollbar-width: none; / Firefox */
}
.body {
  background-color: rgb(214, 207, 207);
}

*::-webkit-scrollbar {
  display: none; /*Chrome, Safri and Opera*/
}

.header-bar {
  /* center text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Eczar", serif;
  font-size: 25px;
  color: white;
  background-color: rgb(214, 207, 207);
  height: 50px;
}
.body-div {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 40px 40px;
  background-color: #fff;
}
.dashboard-div {
  font-family: "font1";
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.dashed-line {
  border-top: 1px dashed;
  margin-bottom: 10px;
  color: blue;
  opacity: 0.4;
}

.img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
}

.div-card {
  display: flex;
  box-shadow: 5px 5px 2px 0px rgba(143, 141, 141, 0.25);
  -webkit-box-shadow: 5px 5px 2px 0px rgba(143, 141, 141, 0.25);
  -moz-box-shadow: 5px 5px 2px 0px rgba(143, 141, 141, 0.25);
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 10px;
}
.div-card:hover {
  color: #fff;
  background-color: #6981ee;
}
.card-title {
  display: flex;
  justify-content: space-between;
}

.content {
  font-family: "Eczar", serif;
}

.paragraph-lorem-1 {
  font-size: 18px;
  width: 60%;
}

.paragraph-lorem-2 {
  margin-top: 10px;
  font-size: 16px;
}

.button {
  background-color: rgb(214, 207, 207);
  color: black;
  border: none;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #6cd46c; /* Green */
  color: white;
}
